@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: white;
  --secondary-color: #f28123;
  --dropdown-text-color: #555555;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url('./wp13358127-fruit-iphone-wallpapers.jpg');
  background-size: cover;
  color: var(--primary-color);
  font-family: "Open Sans", sans-serif
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 25, 34, 0.4);
  z-index: -1;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #051922;
  transition: background-color 0.3s ease;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 15px 0;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-toggler {
  background-color: var(--secondary-color);
  border-radius: 0;
}

.logo {
  width: 150px;
}

.navbar a {
  color: var(--primary-color);
  padding: 15px 15px !important;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: var(--secondary-color);
}

/* for removing dropdown arrow icon */
.navbar .dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: var(--primary-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-item:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown-item {
  color: var(--dropdown-text-color) !important;
  font-weight: 700;
  font-size: 13px;
  transition: all 0.3s ease-in-out;
  padding: 15px;
}

.dropdown-item:hover {
  color: var(--secondary-color) !important;
  background-color: transparent;
}

.d-flex i {
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  padding: 15px;
}

.d-flex i:hover {
  color: var(--secondary-color) !important;
}

main {
}

#intro-div {
  width: 100%;
  height: 72vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

p {
  letter-spacing: 7px;
}

h1 {
  font-size: 3.5rem;
  font-weight: bold;
}

#button-container {
  margin: 40px;
}

a.button {
  text-decoration: none;
  color: var(--primary-color);
  padding: 12px 17px;
  margin: 0 10px;
  border-radius: 30px;
  font-size: 0.95rem;
}

a#first {
  background-color: var(--secondary-color)
}

a#first:hover {
  color: var(--secondary-color);
  background-color: #051922;
}

a#second {
  border: 2px solid var(--secondary-color);
  padding: 10px 15px;
}

a#second:hover {
  background-color: var(--secondary-color);
}

.highlight {
  color: var(--secondary-color);;
}

.hidden {
  display: none !important;
}

@media screen and (min-width: 900px) {
  .hidden {
    display: block !important;
  }
}
